[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
memory-profiler = "*"

[packages]
rsa = "<=3.5.0,>=3.1.2"
dnspython = "*"
pymongo = "*"
sentry-sdk = "==0.14.3"
tqdm = "*"
bs4 = "*"
networkx = "*"
setuptools = "*"
shub = "*"
scrapy = "*"
firebase-admin = "*"
elasticsearch = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"
pytest = "*"
turkishstemmer = "*"

[requires]
python_version = "3.7"
